
* {
    font-family: sans-serif,  Georgia;
}




@keyframes color-fill {
    0% {background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 0%, rgba(107, 195, 41, 0)0%);}
    5% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 5%, rgba(107, 195, 41, 0)5%); }
    10% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 10%, rgba(107, 195, 41, 0)10%);}
    15% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 15%, rgba(107, 195, 41, 0)15%);}
     20% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 20%, rgba(107, 195, 41, 0)20%); }
    25% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 25%, rgba(107, 195, 41, 0)25%);}
    30% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 30%, rgba(107, 195, 41, 0)30%);}
     35% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 35%, rgba(107, 195, 41, 0)35%); }
    40% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 40%, rgba(107, 195, 41, 0)40%);}
    45% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 45%, rgba(107, 195, 41, 0)45%);}
     50% {background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 50%, rgba(107, 195, 41, 0)50%);}
    55% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 55%, rgba(107, 195, 41, 0)55%); }
    60% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 60%, rgba(107, 195, 41, 0)60%);}
    65% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 65%, rgba(107, 195, 41, 0)65%);}
     70% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 70%, rgba(107, 195, 41, 0)70%); }
    75% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 75%, rgba(107, 195, 41, 0)75%);}
    80% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 80%, rgba(107, 195, 41, 0)80%);}
     85% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 85%, rgba(107, 195, 41, 0)85%); }
    90% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 90%, rgba(107, 195, 41, 0)90%);}
    95% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 95%, rgba(107, 195, 41, 0)95%);}
    100% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 100%, rgba(107, 195, 41, 0)100%);}
          }

          @keyframes color-fill-reverse {
            100% {background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 0%, rgba(107, 195, 41, 0)0%);}
            95% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 5%, rgba(107, 195, 41, 0)5%); }
            90% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 10%, rgba(107, 195, 41, 0)10%);}
            85% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 15%, rgba(107, 195, 41, 0)15%);}
             80% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 20%, rgba(107, 195, 41, 0)20%); }
            75% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 25%, rgba(107, 195, 41, 0)25%);}
            70% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 30%, rgba(107, 195, 41, 0)30%);}
             65% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 35%, rgba(107, 195, 41, 0)35%); }
            60% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 40%, rgba(107, 195, 41, 0)40%);}
            55% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 45%, rgba(107, 195, 41, 0)45%);}
             50% {background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 50%, rgba(107, 195, 41, 0)50%);}
            45% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 55%, rgba(107, 195, 41, 0)55%); }
            40% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 60%, rgba(107, 195, 41, 0)60%);}
            35% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 65%, rgba(107, 195, 41, 0)65%);}
             30% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 70%, rgba(107, 195, 41, 0)70%); }
            25% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 75%, rgba(107, 195, 41, 0)75%);}
            20% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 80%, rgba(107, 195, 41, 0)80%);}
             15% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 85%, rgba(107, 195, 41, 0)85%); }
            10% { background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 90%, rgba(107, 195, 41, 0)90%);}
            5% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 95%, rgba(107, 195, 41, 0)95%);}
            0% {  background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 100%, rgba(107, 195, 41, 0)100%);}
                  }
        
    

section {
    padding-top: 150px;
    background-color: rgb(37, 34, 34);
}


body{
    margin: 0px;
    box-sizing: border-box;
   
}
#logo { display: flex;
    align-items: center;
    min-width: 147px;
    width: 147px;
    color: #ffffff;
    padding: 0%;
    height: 60px;

}




.my-nav-bar {
    display: flex;
    background-color: #296a12;
    justify-content: space-between;
    padding:12px 170px 12px 185px;
    position: fixed;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    align-items: center;
     top: 0;
     left: 0;
     right: 0;
     z-index: 3;
    
}
.my-nav-bar h6 {
    font-size:x-small;
    font-weight: 1000;
    letter-spacing:2px ;
}

.Other-bars {
    display: flex;
    /* border: 2px solid blue; */
    align-items: center;
    font-size: 14px;
    cursor:pointer;
    letter-spacing: 1px;
}
.color-fill:hover, .pop-up-event-dropdown-contents:hover, .Hero-footer-line:hover{
    animation-name: color-fill;
    animation-duration: 0.3s;
    animation-timing-function: linear;top: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(90deg, rgba(107, 195, 41, 1) 100%, rgba(107, 195, 41, 0)100%);
}

.color-fill-reverse {
    animation-name: color-fill-reverse;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
    
    .pop-up-color-fill {
    animation-name: color-fill;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    
}
    

.Other-bars  div  {
    color: white;
    padding: 10px 15px ;
    box-sizing: border-box; 
}

.Other-bars a, #Event-drop-down a, .pop-up a{
    text-decoration: none;
    color: white;
    
}

#Event-drop-down {
    visibility: hidden;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    padding: 15px  0px;
    width: 150px;
    box-shadow: 0px 8px 16px 0px #296a12;
    z-index: 4;
    right: 452px;
    cursor:pointer;
    top: 67px;
    text-align: justify;
    justify-content: center;
    font-size: 14px;
   
    
  }

  #Event-drop-down div { 
    padding: 5px 15px;
    cursor:pointer;
    
    
  }
  
  .minimize-icon {
    border: 1px solid white;
    position: fixed;
    top: 26px;
    right: 2%;
    width: 30px; 
    height: 30px;
    cursor:pointer;
    display: none;
  }

  .minimize-icon:hover {
        background-color: rgba(107, 195, 41);

  }

 
  main { 
    color: #ffffff;
    box-sizing: border-box;
    }


hr {
    width: 94%;
    z-index: 8;
    top: 60px;
    text-align: center;
    position: fixed;
    left: 3%;
    border: 0.2px solid black;
    opacity: 0.3;
    visibility: hidden;   
    }

.pop-up {
    
    text-align: center;
    padding: 2%;
    background-color: #296a12;
    margin-top: 70px;
    line-height: 2;
    z-index: 6;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
    cursor:pointer;
    

}
#pop-up-Event-drop-down {
    padding-top: 5px;
    flex-direction: column;
    gap: 5px;
    line-height: 1.5;
    display: none;
    }
/* NAV BAR AND ITS CHILDREN ENDED HERE */

/* SECTION TWO STARTED I.E HERO PAGE */

.hero-section{
    width: 100%;
    margin-top: -150px;
    
    box-sizing: border-box;
}

.About-hero-img {
width: 100%;
height: auto;
}


/* THE SECTION THREE BEGINS HERE AFTER THE HERO PAGE */
.About-us-text {
    text-align: center;
    background-color: #ffffff;
    margin-top: -5px;
    padding: 20px 13% 100px;

}
.About-us-text h1 {
    color: #6bc329;
    font-size: 30px;
    font-family: Raleway;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 600;
    vertical-align: baseline;
    text-transform: capitalize;
}

.About-us-text h2 {
    color: black;
    font-size: 28px;
    line-height: 19.2px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: capitalize;
    vertical-align: baseline;
    font-family: Raleway;
}

.line {
    width: 70px;
    height: 2px;
    background-color: black;
    margin: 0px auto 100px;
}

.video-and-content {
    display: flex;
    gap: 4%;
    color: black;
    margin-top: -50px;
    justify-content: space-between;
}

.video-and-content p {
    width: calc(100% - 463px) ;
    color: rgb(153,153,153);
    font-size: 18px;
    line-height: 32.4px;
    font-weight: 400px;
    text-align: start;
}




.we-are-change-agents{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Ypf-About-2-hero.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    margin-top: -20px;
    text-align: center;
    padding: 5% 13% ;
  
    
}

.we-are-change-agents h1{
font-size: 28px;
line-height: 35px;
font-family: Raleway;
font-weight: 700;
text-transform: capitalize;

}
.we-are-change-agents p{
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    vertical-align: baseline;
   
    
    }




/*THE FOOTER STARTS HERE  */

.contact-us {
    display: flex;
    padding: 60px 12%;
    gap: 2%;
}

.contact-us-items {
    width: 100%;
    /* border: 4px solid rebeccapurple; */
    

}

.contact-us-items p {
    color: #848484;
    font-size: 12.6px;
    line-height: 23.94px;
    letter-spacing: 1px;
    vertical-align: baseline;
    text-align: left;
}

.contact-us-items h2 {
    color: #ffffff;
    font-size: 18.2px;
    line-height: 14.56px;
    vertical-align: baseline;
    text-align: left;
    margin-bottom: 30px;

}
.About-us{
    padding-right: 10px;
}

.blog a {
    text-decoration: none;
}

.blog a p{
    color: #ffffff;
}

#email {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 20px;
}

#telephone {
    width: 75%;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 20px;
}

#subscribe {
    width: 130px;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: #6bc329;
    color: #ffffff;
    font-size: 14px;
    border: none;
    font-weight: 700;
}

.stay-in-touch-items-container {
 /* border: 3px solid gold; */

 margin-top: -13px;
}

.stay-in-touch-each-items {
    
    display: flex;
    gap: 10px;
    align-items: center;
    /* border: 3px solid gold; */
}

/* SECTION 8 OF THE FOOTER ENDS HERE  */

/* THE FINAL SECTION OF THE FOOTER STARTS HERE */

footer {
    display: flex;
    padding: 0px 12%;
    justify-content: space-between;
    /* border: 3px solid goldenrod; */
    align-items: center;
    height: fit-content;
    background-color: black;
    gap: 15px;

}

footer p{
    font-size: 15px;
    line-height: 23.94px;
    letter-spacing: 1px;
    vertical-align:baseline;
    max-width: 450px;
    text-align: left;
}

.footer-name {
    color: #6bc329;
    font-weight: bolder;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons  div{ 
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social-icons div:nth-child(1):hover, .social-icons div:nth-child(2):hover, .social-icons div:nth-child(3):hover, .social-icons div:nth-child(4):hover { 
    
    transition: all ease 0.5s;
    background-color: rgba(0, 0, 0, 0.815);
}

.social-icons a {
    text-decoration: none;
    color: #ffffff;
}
.social-icons div:nth-child(1) {
    transition: all ease 1s;
    background-color: #527dbd;
    border: 1px solid   #527dbd ;
}

.social-icons div:nth-child(2) {
    transition: all ease 1s;
    background-color: #1da1f2;
    border: 1px solid   #1da1f2 ;
}

.social-icons div:nth-child(3) {
    transition: all ease 1s;
    background-color: #e1466c;
    border: 1px solid  #e1466c ;
}

.social-icons div:nth-child(4) {
    transition: all ease 1s;
    background-color: #c4302b;
    border: 1px solid #c4302b ;
}



/* THE FINAL SECTION OF THE FOOTER ENDS HERE */




/* ALL THE MEDIA QUERIES FOR RESPONSIVENESS STARTS HERE  */


@media (max-width: 1160px) {

.my-nav-bar {
    
    padding:12px 20px;
    }

    #Event-drop-down {
        right: 302px;
       
    }

    .contact-us {
        flex-direction: column;
    }

    .video-and-content p {
        width: 100%;
        color: rgb(153,153,153);
        font-size: 18px;
        line-height: 32.4px;
        font-weight: 400px;
        text-align: start;
    }
    iframe {
        width: 100%
    }

    .About-us-text {
        padding: 20px 13% 100px;
    
    }

}

/* second breakpoint query */
@media (max-width: 995px) {

    .video-and-content {
        flex-direction: column;
        gap: 30px;

    }

}


/* third breakpoint query */
@media (max-width: 800px) {

    .minimize-icon{
        display: block;
        right: 3%;
                 }

    .Other-bars {
        display: none;
                 }

.my-nav-bar {
        padding:12px 3%;
                }

    #Event-drop-down {
        content-visibility: hidden;
        padding: 0px;
        opacity: 0.95;
        right: -1000px;
                 }


     .About-hero-img {
                    margin-top: 70px;
                    }


    .About-us-text {
        padding: 20px 5% 100px;
         }

     .we-are-change-agents{
        height: 300px;
        padding: 5%;
        
    }
            

    .contact-us {
    
        padding: 60px 5%;
    }

    

            footer {
                
                flex-direction: column-reverse;
                padding: 10px 5% 30px;
                column-gap: -15px;
                align-items: flex-start;
                gap: 5%;
               
            }

        }


/* 4th breakpoint three */
@media (max-width: 360px) { 

  
      .minimize-icon{

    right: 2%;  }

    .my-nav-bar h6 { 
        letter-spacing: 0.9px;
        font-size: 8px;
    }

    .we-are-change-agents{
        height: 400px;
        
    }
    .we-are-change-agents h1, .About-us-text h1 {
        font-size:24px ;
        
    }
    .About-us-text h2 {
        font-size: 21px;
        letter-spacing: 0.1px;
    }
    .About-us-text {
        padding: 20px 5% 100px;
                  
       }

            body {
                overflow-x: hidden;
            }
        

}


/* 5th breakpoint */
@media (max-width: 200px) { 

   
    .my-nav-bar h6 {
        display: none;
    }

        .social-icons div {
            width: auto;
            height: auto;
        }

        .we-are-change-agents{
            height: 500px;
            
        }



#telephone, #subscribe, #email {
    width: 100%;
}

    
}

/* 6th breakpoint query */

@media (max-width: 160px) { 
    body {
        overflow-x: auto;
    }


}





/* This hides the horizontal pop up once above 801px screen, since it gets enabled from 800px as stated in breakpoint two above media query */
@media (min-width: 801px) {
    .pop-up, hr {
             margin-top: -7000px;
             z-index: -6;
             visibility: hidden;
       
             }
} 
